/*
select.select2 {
    display: none;
}
.select2-container {
    width: 400px !important;
}
.select2-container .select2-selection__clear {
    color: #999;
    margin-top: -1px;
}
*/
.shoplic-user-field-table input[type="text"] {
    width: 100%;
}
table.shoplic-user-field-table td.sort {
    cursor: move;
    font-size: 15px;
    text-align: center;
}
table.shoplic-user-field-table td.sort::before {
    content: '\f333';
    font-family: Dashicons;
    text-align: center;
    line-height: 1;
    color: #999;
    display: block;
    width: 17px;
    float: left;
    height: 100%;
    line-height: 24px;
}
