.shoplic-login h2 {
    display: none;
}
.shoplic-login .form-row {
    display: block;
    float: none !important;
    width: 100% !important;
}
.shoplic-register form, .shoplic-login form, .woocommerce .woocommerce-form-login {
    /* width: 50%; */
    /* margin-left: 25% !important; */
}
.shoplic-register .user-fields-section {
    margin: 2em 0;
}
.shoplic-register .woocommerce-privacy-policy-text {
    display: none;
}
.shoplic-register .agreement-content {
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 0.7em;
    height: 10em;
    margin-bottom: 0.7em;
}
.postcode-search-btn {
    font-weight: bold;
    padding: 8px 3em 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-color: #dbdbdb #dbdbdb #dbdbdb #dbdbdb;
    cursor: pointer;
    color: #464646 !important;
    vertical-align: baseline;
    background: #f2f2f2;
    margin-left: 5px;
    height: 100%;
    min-height: 32px;
}
.shoplic-register .agreement-content {
    overflow-y: scroll;
}
.shoplic-form {
    width: 70%;
    margin-top: 0 !important;
}
.shoplic-form .error {
    color: red;
}
